@{
    ViewData["Title"] = "Contact";
}


<section>
    <div class="container">
        <div class="contact-contact">
            <div class="row" id="wlc-msg-contact">
                <div class="contact-heading-text-contact">
                    <p>
                        Welcome and Thanks for interested to contact with me.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="address-contact">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="contact-number-contact">
                            <div class="contact-item-contact">
                                <a><i class="fas fa-phone-square"></i> &nbsp; &nbsp; +880 - 01952363984</a>
                            </div>
                            <div class="contact-item-contact">
                                <a><i class="fas fa-phone-square"></i> &nbsp; &nbsp; +880 - 01789726380</a>
                            </div>
                            <div class="contact-item-contact">
                                <a><i class="fas fa-envelope"></i> &nbsp; &nbsp; spicyFoodHouse@gmail.com</a>
                            </div>
                            <div class="contact-item-contact">
                                <a><i class="fas fa-envelope"></i> &nbsp; &nbsp; SpicyOnline@gmail.com</a>
                            </div>
                            <div class="contact-item-contact">
                                <a><i class="fas fa-envelope"></i> &nbsp; &nbsp; SpicyForYour@gmail.com</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="present-address-contact">
                            <div class="address-item-contact">
                                <h3>Present Address</h3>
                                <p>
                                    D Block - 201/12, <br /> New Marker, Kandir Par , <br /> Cumilla shodor - Cumilla, <br /> Cumilla - Chittagong, <br />
                                    Chittagong - Bangladesh, <br /> Bangladesh - Asia, <br /> zip code - 3500 (Cumilla shodor).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>