
@{
    ViewData["Title"] = "SearchResultShow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .margin-from-top-in-Others-client-view {
        margin-top: 100px;
    }
</style>

<div class="margin-from-top-in-Others-client-view"></div>

@*<h2>SearchResultShow</h2>
<h1>@ViewBag.srcText</h1>*@

